#div__contenedor{
    width: 96vw;
    padding: 1vw;
    border: solid black 2vw;
    margin: 2vw;
}
.casillaDeJuego{
    background: #c9c9c9;
    border-bottom: solid #333 2px;
    border-right: solid #333 2px ;
    border-top: solid rgb(255, 255, 255) 3px ;
    border-left: solid rgb(255, 255, 255) 3px ;
    display: inline-block;
    text-align: center
}
.casillaDeJuego:hover{
    cursor:pointer
}
.casillaMarcada{
    border: solid #666 1px;
    background: #BDBDBD;
    cursor: default;
    display: inline-block;
    text-align: center;
}
#btnFacil{
    background-color: #FFCD39;
    
}
#btnMedio{
    background-color: #FD7E14;
    
}
#btnDificil{
    background-color: #DC3545;
    
}
